<%- include('./blocks/head.ejs')  %> 
<%- include('./blocks/navbar.ejs') %>

<section class="add-test">
        
        
    <div class="container">
        <a href="/admin/tests-category" class="admin__results__link" style="width: 100px; margin-top: 30px;">Назад</a>
        <h1 class="add-test__text">
            Добавление тестовых вопросов
        </h1>
   
        <div class="add-test__wrapper">
            <%if (error){%>
                <p style="text-align: center; color: crimson; font-size: 22px;"><%=error%></p>
            <%}%>
            <%if (success){%>
                <p style="text-align: center; color: darkcyan; font-size: 28px;"><%=success%></p>
            <%}%>
            <form method="post" action="/admin/add-test" class="add-test__form">
                <p style="margin-top: 15px; font-size: 18px;">Текущая категория: <b   style="color: rgb(18, 82, 202);"><%=category.category%></b></p>
                <p style="margin-top: 15px; font-size: 18px;">Кол-во тестов в текущей категории: <b   style="color: rgb(18, 82, 202);"><%=count_tests%></b></p>
                <div class="add-test__item">
                    <label for="question">Введите вопрос: </label>
                    <textarea type="text" id="question" name="question" class="add-test__input " placeholder="Вопрос" autocomplete="off" required></textarea>
                </div>
                <p style="text-align: center; margin-top: 20px;" id="error2"></p>

                <div class="add-test__item">
                    <label for="answers">Введите ответы в JSON формате: </label>
                    <textarea type="text" id="answers" name="answers" class="add-test__input " placeholder="Ответы" style="height: 200px; font-size: 16px;" autocomplete="off" required></textarea>
                </div>

                <p style="text-align: justify; margin-top: 20px;" id="error2">
                   

                </p>
           
                <button  class="add-test__wrapper__link">Добавить</button>
            </form>
            
        </div>
    </div>
</section>

<script>
    const answers = document.querySelector('#answers');
    const form = document.querySelector('form');
    form.addEventListener('submit', function(evt) {
        
        try
        {
            evt.preventDefault();
            let checkAnswers = answers.value.trim();
            let test = ''
           
            for(let i = 0; i< checkAnswers.length; i++)
            {
                test = checkAnswers[i].replace(' ','');
                test = checkAnswers.replace('\n','');
            }  
          
            console.log(test)
            const answers_val_obj = JSON.parse(answers.value.trim());
            const question = document.querySelector('#question');
            
            if(question.value.trim().length < 6)
            {
                const error2 = document.querySelector('#error2');
                error2.innerHTML = '<b style="color: red"> Внимание!</b> Вопрос слишком короткий'
            }
            else if(answers_val_obj['1'] == undefined) 
            {
                const error2 = document.querySelector('#error2');
                error2.innerHTML = '<b style="color: red"> Ошибка!</b> Убедитесь в правильности внесенных данных'

            }
            else if(answers_val_obj['2'] == undefined) 
            {
                const error2 = document.querySelector('#error2');
                error2.innerHTML = '<b style="color: red"> Ошибка!</b> Убедитесь в правильности внесенных данных'

            }
            else 
            {
                evt.defaultPrevented;
                this.submit();
            }
         
           
        }
        catch(e)
        {   console.log(e)
            const error2 = document.querySelector('#error2');
            error2.innerHTML = '<b style="color: red"> Ошибка!</b> Убедитесь в правильности внесенных данных'
        
        }
    })

        
        

</script>



<%- include('./blocks/footer.ejs') %>